* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #2b7662;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  width: 70vw;
  height: 80vh;
}
.window pre {
  height: 85.6vh;
  display: flex;
  justify-content: center;
}
.window .title-bar button:nth-child(1) {
  cursor: pointer;
}
.window .title-bar button:nth-child(2) {
  cursor: pointer;
}
.window .title-bar button:nth-child(3) {
  cursor: pointer;
}
.window img {
  width: auto;
  height: 10px;
}

.button {
  position: absolute;
}
.button:focus {
  outline: none;
}

.box {
  width: auto;
  height: 97.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  width: 65vw;
  height: 70vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
  grid-template-areas: "nav    nav    nav    nav      " "main   main   main   sidebar  " "main   main   main   sidebar  " "footer footer footer footer   ";
  grid-gap: 20px;
  text-align: center;
}

nav, footer {
  border-top: black 3px dashed;
  border-bottom: black 3px dashed;
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .logo h4:hover {
  cursor: pointer;
  color: blue;
}
nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 35%;
}
nav .nav-links li {
  list-style-type: none;
}
nav .nav-links li a {
  width: 500px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 5px 30px;
}
nav .nav-links li a:hover {
  color: blue;
}
nav .nav-links .active {
  color: blue;
}

#sidebar {
  background: rgba(0, 0, 0, 0.5);
  grid-area: sidebar;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#sidebar:hover .profile img {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
#sidebar:hover #info p {
  color: transparent;
  text-shadow: 0 0 0 white;
  border: 0px solid black;
}
#sidebar:hover .point {
  border: 0 solid black;
}
#sidebar:hover .point p {
  color: transparent;
}
#sidebar .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
}
#sidebar .profile img {
  width: 70%;
  height: auto;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: all ease-in-out 0.3s;
}
#sidebar #info {
  height: 50%;
  width: auto;
  text-align: left;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sidebar #info p {
  text-align: center;
  font-size: 2.5vw;
  height: auto;
  width: 90%;
  color: transparent;
  text-shadow: 0 0 15px white;
  transition: all ease-in-out 0.3s;
}
#sidebar .point {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
  width: 38%;
  height: auto;
  padding: 5px;
  position: absolute;
  top: 43%;
  left: 30%;
  overflow: hidden;
}
#sidebar .point p {
  color: black;
  font-weight: bold;
  z-index: 1;
}

main {
  color: white;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tree-view {
  height: 100%;
  width: 100%;
  padding-top: 0;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 6.6px;
}
main .tree-view li {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
main .tree-view .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tree-view .contents {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 20px;
  text-align: left;
  line-height: 27px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 15px 25px 15px 30px;
}
main .tree-view .contents .title {
  width: 100%;
  height: 70px;
  border-top: 3px dashed black;
  border-bottom: 3px dashed black;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tree-view .contents .title h1 {
  font-size: 40px;
}
main .tree-view .contents .Image1 img, main .tree-view .contents .Image2 img {
  height: auto;
  width: 37vw;
  margin-top: 20px;
}
main .tree-view .contents .Image1, main .tree-view .contents .Image2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .tree-view .contents .link {
  margin-top: 20px;
  margin-bottom: 20px;
}
main .tree-view .contents .link a button {
  font-size: 1vw;
  padding: 10px;
}
main .tree-view .contents .link a button:hover {
  cursor: pointer;
}
main .tree-view .contents hr.dashed {
  border-top: 3px dashed black;
  width: 100%;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .window {
    width: 100%;
    height: 100%;
  }

  .container {
    width: 80vw;
    height: 85vh;
  }

  nav {
    flex-direction: column;
    line-height: 40px;
  }

  .container {
    grid-template-areas: "nav    nav    nav    nav      " "main   main   main   main  " "main   main   main   main  " "footer footer footer footer   ";
  }

  #sidebar {
    display: none;
  }

  main .tree-view .contents .Image1 img, main .tree-view .contents .Image2 img {
    height: auto;
    width: 60vw;
  }

  main .tree-view .contents .link a button {
    font-size: 1.5vw;
  }

  footer p {
    font-size: 3vw;
  }
}/*# sourceMappingURL=home.css.map */